.main {
  flex: auto;
}

.content {
  padding: 0 2%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.layout {
  min-height: 100vh;
}

.backTop {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header :global(.ant-page-header-heading-left) {
  flex-wrap: wrap;
}
.header :global(.ant-page-header-heading-title) {
  line-height: 40px;
}
.header :global(.ant-page-header-heading-sub-title) {
  display: flex;
  flex-wrap: wrap;
  line-height: 36px;
}

.contentDetail {
  max-width: 70em;
}
