.logo {
  float: left;
  padding-right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
}

.topHeader {
  display: flex;
  align-items: center;
}

.search {
  min-width: 20em;
}
.span {
  flex: 1 1 0;
}

@media (max-width: 768px) {
  .search {
    display: none;
  }
}
