.picker {
  font-size: inherit;
  background-color: unset;
  margin: 0 0.5em;
}
.picker :global(input) {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.select {
  font-size: inherit;
  background-color: unset;
  margin: 0;
  min-width: 12em;
  margin-right: 0.5em;
}

:global(.ant-select).select > :global(.ant-select-selector) {
  background-color: unset;
  font-size: inherit;
  font-weight: inherit;
  height: unset;
}

:global(.ant-select).select > :global(.ant-select-selector) :global(.ant-select-selection-search-input) {
  height: unset;
}

.selectTree {
  margin: 0;
}

.selectTreeMultiple {
  margin: 0;
  min-width: 24em;
}

.selectTreeMultiple :global(.ant-select-selection-item) {
  position: relative;
  padding-left: 14px;
}

.selectTreeMultiple :global(.ant-select-selection-item)::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
}

.selectTreeMultiple :global(.ant-select-selection-item):nth-child(1)::before {
  background: var(--compare-color1);
}
.selectTreeMultiple :global(.ant-select-selection-item):nth-child(2)::before {
  background: var(--compare-color2);
}
.selectTreeMultiple :global(.ant-select-selection-item):nth-child(3)::before {
  background: var(--compare-color3);
}
.selectTreeMultiple :global(.ant-select-selection-item):nth-child(4)::before {
  background: var(--compare-color4);
}

@media (max-width: 380px) {
  .hideMobile {
    display: none !important;
  }
}
