.main {
  flex: auto;
}

.content {
  padding: 0 2%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.layout {
  min-height: 100vh;
}

.logo {
  float: left;
  color: rgba(255, 255, 255, 0.65);
}

.backTop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: '#1088e9';
  color: '#fff';
  text-align: center;
  font-size: 14;
}
