.card {
  margin: 0.5em 0.2em;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.card > .ant-card-body {
  flex: auto;
}

.img {
  padding: 1em;

  > img {
    height: 100%;
    object-fit: contain;
    background-color: unset;
  }
}

.filled {
  color: red;
}
