.card {
  margin: 0.5em 0.2em;
  flex: auto;
  display: flex;
  flex-direction: column;

  > :global(.ant-card-body) {
    flex: auto;
  }
  > :global(.ant-card-actions) {
    flex-grow: 0;
  }
}

.filled {
  color: red;
}
